<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blackshield">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- App entry point -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Nova Launcher -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_THEME" />
            </intent-filter>

            <!-- ADW / Apex / generic -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLY_ICON_THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- GO Launcher EX -->
            <intent-filter>
                <action android:name="com.gau.go.launcherex.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Lawnchair / Hyperion / Niagara style -->
            <intent-filter>
                <action android:name="app.lawnchair.icons.THEMED_ICONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.anddoes.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>
</manifest>
